__pycache__/
*.pyc
.env
venv/
.env.local
data/
*.csv
model_knn.pkl
model_logistic.pkl
model_random_forest.pkl
model_rf_final.pkl
model_rf_tuned.pkl
model_svm.pkl
model_xgboost.pkl
model_xgb_tuned.pkl
*.ipynb*.db
*.db